@model WishList.Models.Item

@{
    ViewData["Title"] = "Create";
}



<form asp-action="create" style="margin:20px">

    <div class="form-group">
        <label class="fs-1" style="margin-top:120px" for="AddItemToWishlist">Add Item To Wishlist</label>
        <input asp-for="Description" class="form-control" id="AddItemToWishlist">
        <small id="emailHelp" class="form-text text-muted">We'll never share your wishlist with anyone else.</small>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <button type="submit" class="btn btn-secondary mt-2">Add Item</button>

</form>