@model List<WishList.Models.Item>

@{
    ViewData["Title"] = "Adding Items";
}


<div class="display-5 py-5">Wishlist</div>


<table class="table" style="color:wheat;">

    <thead>
        <tr>
            <th>Wishs</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Description</td>
                <td><a class="btn btn-danger" asp-action="Delete" asp-controller="Item" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>

</table>


<a class="btn btn-primary" asp-controller="Item" asp-action="Create">Add Item</a>
